/* Botón principal */
div[id] {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;

    font-family: monospace;

    padding: 5px 16px;
    box-sizing: border-box;

    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
    transition: background 0.2s ease, transform 0.15s ease;
}

/* Hover */
div[id]:hover {
    background-color: #f4f6ff;
}

/* Icono */
.button-image {
    width: 30px;
    height: 30px;

    background-color: #191824;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    /* evita que se encoja */
}

/* Imagen del icono */
.button-image img {
    width: 22px;
    height: 22px;
}

/* Texto */
.button-text {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0;
    text-align: left;
}