.item-contacto {
    font-family: monospace;
    font-size: 1rem;

    border: 1px solid #ccc;
    border-radius: 5px;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 5px;
}