* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;


    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

#nav {
    height: 100vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
}

#container {
    height: 100vh;
    border: 1px solid #000;
}